
    <head>

        <title>{{ .Site.Title }}</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ .Site.Params.author }}">
        <meta name="description" content="{{ .Site.Params.description }}">

        <link rel="shortcut icon" href="favicon.ico">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">
        <!-- Theme CSS -->
        <link id="theme-style" rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/theme-1.css">
        <!-- Theme SCSS -->
        {{ $style := resources.Get "scss/theme-1.scss" | resources.ExecuteAsTemplate "scss/theme-1.scss" . | toCSS (dict "targetPath" "assets/css/theme-1.css") | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

    </head>
