
                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ .Site.BaseURL }}"><i class="fas fa-home fa-fw mr-2"></i>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}posts/"><i class="fas fa-bookmark fa-fw mr-2"></i>Blog Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}about/"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
                    </li>
                </ul>
